/* Color Palette */

:root {
  --blue: #2b388e;
  --green-gray: #9f9772;
  --off-white: #d6d5c3;
  --purple-blue: #261f62;
  --red: #ea2420;
}

/* -------------------- Workout Card Section -------------------- */

/* An ID to Center Only Specific Elements */

#center__text {
  text-align: center;
}

/* Workout Summary Card Container */

.workout__cards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Workout Summary Card Styling */

.card {
  background-color: var(--off-white);
  border: 1px solid rgba(234, 36, 32, 1);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(236, 36, 32, 0.75);
  cursor: pointer;
  height: 600px;
  margin-bottom: 30px;
  max-width: 1000px;
  padding: 10px;
  width: 90%;
}

/* Table Styling */

td,
th,
tr {
  border: 1px solid black;
  padding-left: 10px;
}

/* -------------------- Home Page Section -------------------- */

.homepageSection {
  background-image: url('../src/images/workout-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.welcomeHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border: 10px;
  padding: 10px;
  text-align: center;
  color: rgb(5, 5, 105);
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 5);
}

.introParagraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border: 10px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 0px 5px #999;
  /* border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border:2px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  min-height: 100vh;
  color: rgb(3, 1, 33);
}

/* --------------------------------- Create Workout Section ------------------------------------------------- */

.currentWorkout {
  display:flex;
  justify-content: center;
  align-items: center;
}

.workoutSection {
  background-image: url('../src/images/gym.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.workoutHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  background-color: var(--off-white);
  border: 2px solid rgba(234, 36, 32, 1);
  border-radius: 20px; 
}

.addExerciseForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 250px;
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: 50px; */
  background-color: var(--off-white);
  border: 1px solid rgba(234, 36, 32, 1);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(236, 36, 32, 0.75);
  cursor: pointer;
  /* height: 600px; */
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 1000px;
  padding: 10px;
  /* width: 90%; */
  align-items: center;
}


.inputNameTitle {
  font-size: 25px;
  color: rgb(214, 15, 15);
}

.exerciseSubmitBtn {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* ----------Notification/Error Message--------- */
.error-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }




  /* -------------------About Us/Meet the Devs Section---------------- */

.aboutUsSection {
  background-image: url('./images/gym.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 
  0 0 7px blue,
  0 0 10px #fff,
  0 0 21px blue,
  0 0 42px blue,
  0 0 82px blue,
  0 0 92px blue, 
  0 0 102px blue,
  0 0 150px blue;
}

.aboutParagraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(1, 1, 1);
  margin: 50px;
  background-color: var(--off-white);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.linksSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: -ms-inline-grid;
}

#devBoxes {
  background-color: var(--off-white);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}


.dev1Picture {
  height: 250px;
}

.dev2Picture {
  height: 250px;
}

.dev3Picture {
  height: 250px;
}

.dev4Picture {
  height: 250px;
}

#githubLinks {
  background-color: #261f62;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}