/* Color Palette */

:root {
  --black: #000000;
  --blue: #26687d;
  --off-white: #c7b99a;
  --orange: #f8962e;
  --purple: #412454;
  --white: #ffffff;
  --yellow: #fed346;
}

/* -------------------- NavBar Styling -------------------- */

.navBarColor {
  background-color: var(--purple);
}

/* -------------------- Log In / Sign Up Form Styling -------------------- */

.modal-header button {
  background-color: var(--yellow);
  color: var(--white);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--white);
  background-color: var(--purple);
}

a {
  color: rgba(65, 36, 84, 0.5);
}

a:active,
a:hover,
a:active {
  color: rgba(65, 36, 84, 1);
}

.form-group {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-control:focus,
.form-control:not(active) {
  background-color: var(--orange);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.form-control::placeholder {
  color: var(--white);
}

/* Change Autocomplete Styles in Chrome */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--orange) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Log In / Sign Up Button Styling */

.btn-submit {
  background-color: var(--blue);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 400px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 90%;
}

/* Button Pseudo Class Styling */

.btn-submit:active,
.btn-submit:focus,
.btn-submit:hover {
  background-color: var(--purple);
  color: var(--white);
}

/* Disabled Button Styling */

.btn-submit:disabled {
  background-color: var(--blue);
  color: var(--white);
}

.btn-submit:disabled:active,
.btn-submit:disabled:focus,
.btn-submit:disabled:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Alert Styling */

.alert-danger {
  background-color: var(--yellow);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* -------------------- Home Page Section -------------------- */

/* Background Image & Flex Layout */

.homepageSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 768px;
  width: 80%;
}

/* Welcome to Fit NUTS Header */

.welcomeHeader {
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

/* Fit Nuts Blurb */

.introParagraph {
  background-color: var(--off-white);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  color: var(--black);
  font-size: 20px;
  margin: auto;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  width: 75%;
}

/* Change Font Size of Fit NUTS Header & Blurb On Mobile Devices */

@media screen and (max-width: 480px) {
  .welcomeHeader {
    font-size: 30px;
  }

  .introParagraph {
    font-size: 15px;
  }
}

/* -------------------- Create Workout Section -------------------- */

/* Create Your Workout Session Container */

.workoutSection {
  margin: auto;
  max-width: 768px;
  width: 80%;
}

/* Create Your Workout Session Header */

.workoutHeader {
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

/* Workout Form Centering */

.currentWorkout {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Workout Form Styling */

.addExerciseForm {
  align-items: center;
  background-color: var(--off-white);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 50%;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 1000px;
  padding: 10px;
  position: relative;
  transform: translateX(-50%);
  width: 80%;
}

/* Input Title Styling */

.inputNameTitle {
  color: var(--black);
  font-size: 25px;
}

/* Error Message */

.error-text {
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  display: flex;
  font-size: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

/* -------------------- Create Your Workout Session Card Styling -------------------- */

/* Create Your Workout Session Card Styling */

#cardModified {
  background-color: var(--off-white);
  border-radius: 20px;
  border: none;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  color: var(--black);
  height: 600px;
  left: 50%;
  margin-bottom: 30px;
  max-width: 1000px;
  overflow-x: display;
  overflow-y: display;
  padding: 10px;
  position: relative;
  transform: translateX(-50%);
  width: 80%;
}

/* Table Styling */

/* Now the Tables Won't Word Wrap On Horizontal Overflow & Are Centered */

.styledTableModified {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: nowrap;
}

.styledTableModified {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.styledTableModified thead tr {
  background-color: var(--purple);
  color: var(--white);
}

.styledTableModified th,
.styledTableModified td {
  padding: 20px 20px;
}

.styledTableModified tbody tr {
  background-color: var(--orange);
  color: var(--white);
}

.styledTableModified tbody tr.active-row {
  font-weight: bold;
}

/* An ID For Centering Buttons */

#centerButtonTwo {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

/* -------------------- Workout Card Section -------------------- */

.workout__summary {
  margin: auto;
  max-width: 768px;
  width: 80%;
}

/* An ID to Center Only Specific Elements */

#center__text {
  color: var(--black);
  text-align: center;
}

/* Workout Summary Card Container */

.workout__cards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Workout Summary Card Styling */

#testing {
  margin: auto;
  max-width: 768px;
  width: 100%;
}

.card {
  background-color: var(--off-white);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  cursor: pointer;
  height: 600px;
  left: 50%;
  margin-bottom: 30px;
  max-width: 1000px;
  /* Makes the Workout Summary Cards Horizontally / Vertically Scrollable if There's Overflow */
  overflow-x: scroll;
  overflow-y: display;
  padding: 10px;
  position: relative;
  transform: translateX(-50%);
  width: 80%;
}

/* Useful For Overflow Issues */

/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Table Styling */

/* Now the Tables Won't Word Wrap On Horizontal Overflow */

table {
  white-space: nowrap;
}

.styled-table {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: nowrap;
}

.styled-table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.styled-table thead tr {
  background-color: var(--purple);
  color: var(--white);
}

.styled-table th,
.styled-table td {
  padding: 20px 20px;
}

.styled-table tbody tr {
  background-color: var(--orange);
  color: var(--white);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
}

/* An ID For Centering Buttons */

#centerButton {
  margin: auto;
}

/* Workout Button Styling */

.btn-primary {
  background-color: var(--blue);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 400px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 90%;
}

/* Button Pseudo Class Styling */

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--purple);
}

/* Disabled Button Styling */

.btn-primary:disabled {
  background-color: var(--blue);
}

.btn-primary:disabled:active,
.btn-primary:disabled:focus,
.btn-primary:disabled:hover {
  background-color: var(--blue);
}

/* -------------------- Meet the Devs Section -------------------- */

/* About Us Container */

.aboutUsSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 768px;
  width: 80%;
}

/* Meet the Developers Header */

.aboutHeader {
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

/* About Us Blurb */

.aboutParagraph {
  background-color: var(--off-white);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  color: var(--black);
  font-size: 20px;
  margin: auto;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  width: 87.5%;
}

/* Change Font Size of Meet the Developers Header & Blurb On Mobile Devices */

@media screen and (max-width: 480px) {
  .aboutHeader {
    font-size: 30px;
  }

  .aboutParagraph {
    font-size: 15px;
  }
}

.linksSection {
  max-width: 768px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

/* Meet the Devs Card Styling */

.devCards {
  background-color: var(--off-white);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(248, 150, 46, 0.75);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 24px;
  margin-top: 24px;
  max-width: 480px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  width: 75%;
}

/* Name Styling */

#name {
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  font-size: 27px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

/* Portrait Styling */

.devPicture {
  height: 250px;
  margin-top: 12px;
}

.devPicture:hover {
  box-shadow: 10px var(--black);
  transition: all 1 ease-in-out;
  transform: scale(1.05);
  outline: 5px transparent var(--black);
}

/* GitHub Anchor Link Styling */

#githubLinks {
  background-color: var(--blue);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  left: 50%;
  margin-bottom: 12px;
  margin-top: 12px;
  max-width: 400px;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;
  transform: translateX(-50%);
  width: 90%;
}

#githubLinks:active,
#githubLinks:focus,
#githubLinks:hover {
  background-color: var(--purple);
  text-decoration: none;
}
