/* Universal Selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling For Every Page */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: url('../src/images/gym.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
